@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }

  .btn-primary{
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 24px;
    font-weight: 400;
    font-size: 1.25rem;
  }

  .color-gray{
    color: #424242;
  }

  .color-light-gray{
    color: #727272;
  }

  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }

  .color-orange{
    color: #FF900E;
  }

   .section-title{
    font-size: 3rem;
    font-weight: 700;
  }

  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  .max-width{
    max-width: 1440px;
    margin: 0 auto;
  }

  /* header styles */

  /* navbar related styles */

  .brand{
    font-size: 3rem;
    font-weight: 700;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
  }

  .nav-items{
    list-style: none;
    margin-right: 30px;
  }

  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
  }

  /* banner related styles */

  .banner-content{
    max-width: 862px;
    margin: 0 auto 50px;
    text-align: center;
  }

  .banner-title{
    font-size: 4rem;
    font-weight: 700;
  }

  .banner-image{
    width: 100%;
  }

  /* features section */

  .teams{
    padding: 85px 61px 130px;
    gap: 73px;
    align-items: center;
  }

  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

 

  .features-description{
    margin-top: 24px;
    margin-bottom: 32px;
  }

  /* Some Facts Style */

  .facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 125px;
  }

  .fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    /* width: 240px;
    height: 240px; */
    padding: 45px 35px 60px;
    text-align: center;
  }

  /* responsive */

  @media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
      flex-direction: column;
    }
     .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
    .facts-container{
      grid-template-columns: repeat(1, 1fr);
    }
    .some-facts{
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  @media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
      flex-direction: column;
    }
    .some-facts{
      padding-left: 50px;
      padding-right: 50px;
    }
    .facts-container{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  